// contact
.contact-form {
  z-index: 7;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  .input {
    font-size: 1em;
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid $red;
    color: $primary-text-color;
    margin-bottom: 2em;
  }
  .textarea {
    border: 2px solid $red;
    margin-bottom: 1em;
  }
}
