* {
  box-sizing: border-box;
}

.site-wrapper,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Abel", sans-serif;

  -ms-overflow-style: none; // IE 10+
  overflow: -moz-scrollbars-none; // Firefox
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none; // Safari and Chrome
}

.loading {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: $home-bg;
  background: $primary-background;
  h1 {
    color: $emphasize;
    font-size: 4em;
    transition: 0.5s all ease-out;
  }
}

.home {
  height: 100vh;
  // background: $home-bg;
  background: $primary-background;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $emphasize;
  // color: $dark-text;
  // color: $primary-text-color;
  font-size: 3em;
  width: 190px;
  height: 190px;
  padding: 1em;
  margin: 0;
  cursor: pointer;
  transition: 0.5s ease-out all;
  opacity: 0;
  animation: fade-in 1s forwards 1s;
  &:hover {
    font-size: 3.25em;
    width: 225px;
    height: 225px;
  }
  // before
  &::before {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    border: 5px solid transparent;
    bottom: 0;
    left: 0;
    animation: home-load-before 2s forwards 1s;
    transition: 0.5s ease-out all;
    &:hover {
      border: $secondary-text-color;
    }
  }
  &::after {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    border: 5px solid transparent;
    top: 0;
    right: 0;
    animation: home-load-after 2s forwards 1s;
    transition: 0.5s ease-out all;
  }
}

// about
.slide-left {
  animation: slide-in-x 1s forwards 1s;
}

.about {
  flex-direction: column;
  .section-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
    z-index: 1;
    position: relative;
    background: $red;
    opacity: 0;
    transform-origin: left;
    transform: scaleX(0);
    animation: slide-in-x 1s forwards 1s;
    .section-title {
      width: 290px;
      color: $primary-text-color;
      font-size: 2.5em;
      &::before,
      &::after {
        border-color: $primary-text-color;
      }
    }
  }
  .about-content {
    padding: 3em;
    background: $dark-text;
    color: $primary-text-color;
    opacity: 0;
    transform-origin: right;
    transform: scaleX(0);
    animation: slide-in-x 1s forwards 1s;
    .about-wrapper {
      opacity: 0;
      animation: fade-in-up 1s forwards 4s;
    }
  }
  // transition out classes
  .section-header-slide-out {
    transform-origin: left;
    transform: scaleX(1);
    animation: slide-out-x 1s forwards;
  }
  .about-content-slide-out {
    transform-origin: right;
    transform: scaleX(1);
    animation: slide-out-x 1s forwards;
  }
}

// work
.work {
}

.projects {
  display: flex;
  flex-direction: column;
}

// section styling
.section-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  // transition: 1s all cubic-bezier(0.7, 0.5, 1, 0.5);
}

.fade-out {
  opacity: 1;
  animation: fade-out 1s forwards;
}

/*

COMPONENTS

*/

.head {
  margin: 0;
  margin-bottom: 1em;
  font-size: 1.5em;
  color: $red;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    background: $red;
    height: 3px;
    width: 80px;
    bottom: -10px;
    left: 0;
  }
}
.intro {
  font-size: 2em;
  span {
    color: $red;
  }
  .emphasize {
    color: $emphasize;
  }
}
.group {
  margin-top: 1em;
}

.links {
  margin-bottom: 2em;
}

.link {
  color: $red;
  font-size: 1.25em;
  text-decoration: none;
  transition: 0.5s all ease-out;
  &:hover {
    text-decoration: line-through;
    color: $primary-text-color;
  }
}

.contact {
  .link {
    pointer-events: none;
  }
}

.active {
  z-index: 100;
}

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: relative;
  padding: 1em;
  width: 210px;
  height: 140px;
  opacity: 0;
  animation: fade-in-left 1s forwards 2s;

  &::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    right: 0;
    top: 0;
    animation: section-title-before 2s forwards 2s;
  }
  &::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 0;
    bottom: 0;
    animation: section-title-after 2s forwards 2s;
  }
}

.section {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: $dark-text;
  overflow-y: scroll;
  -ms-overflow-style: none; // IE 10+
  overflow: -moz-scrollbars-none; // Firefox
}

//  re-useable
.hide {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-out;
}

.display-none {
  display: none;
}

.flex {
  display: flex;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease-in;
}

// project styling
.project-box {
  display: flex;
  width: 100%;
  height: 250px;
  cursor: pointer;
  transition: 1s all ease-out;

  .proj-img {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    width: 50%;
    height: 250px;
  }
  .proj-desc {
    width: 50%;
    height: 250px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    padding: 1em;
    transition: 0.5s all ease-out;

    .proj-num,
    .proj-title,
    .sub-title {
      transition: 0.5s all ease-out;
    }

    .proj-num {
      font-size: 1.25em;
      text-decoration: underline;
      color: $primary-text-color;
    }
    .proj-title {
      color: $red;
      font-size: 1.5em;
      font-weight: bold;
    }
    .sub-title {
      color: $primary-text-color;
      font-weight: 300;
      font-size: 1em;
    }
  }
  &:nth-child(odd) {
    .proj-img {
      order: 1;
      background: $secondary-text-color;
      transform-origin: left;
      opacity: 0;
      transform: scaleX(0);
      &::after {
        content: "";
        position: absolute;
        top: 3em;
        right: 0;
        height: 3px;
        width: 1.5em;
        background: $emphasize;
      }
    }
    .proj-desc {
      order: 2;
      background: $dark-text;
      transform-origin: right;
      opacity: 0;
      transform: scaleX(0);
      &::after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        width: 0;
        height: 100%;
        background-color: $emphasize;
        transform-origin: left;
        transition: width 0.5s ease;
        z-index: -1;
      }
    }
  }
  &:nth-child(even) {
    .proj-img {
      order: 2;
      background: $secondary-text-color;
      transform-origin: right;
      opacity: 0;
      transform: scaleX(0);
      &::after {
        content: "";
        position: absolute;
        top: 3em;
        left: 0;
        height: 3px;
        width: 1.5em;
        background: $emphasize;
      }
    }
    .proj-desc {
      order: 1;
      background: $dark-text;
      transform-origin: left;
      opacity: 0;
      transform: scaleX(0);
      &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: $emphasize;
        transform-origin: right;
        transition: width 0.5s ease;
        z-index: -1;
      }
    }
  }
  &:hover {
    .proj-desc {
      &::after {
        width: 100%;
      }
      .proj-num,
      .sub-title,
      .proj-title {
        color: $dark-text;
      }
    }
    .proj-img {
      // background: $dark-text;
    }
  }
}

.skills-used {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  .skill {
    color: $emphasize;
    border: 2px solid $emphasize;
    text-align: center;
    padding: 0.25em;
    margin: 0.25em;
    font-size: 1em;
  }
}

.project-1 {
  .proj-img,
  .proj-desc {
    animation: project-box-slide-in 1s forwards 1s;
  }
}

.project-2 {
  .proj-img,
  .proj-desc {
    animation: project-box-slide-in 1s forwards 1.2s;
  }
}

.project-3 {
  .proj-img,
  .proj-desc {
    animation: project-box-slide-in 1s forwards 1.4s;
  }
}

.project-4 {
  .proj-img,
  .proj-desc {
    animation: project-box-slide-in 1s forwards 1.6s;
  }
}
.project-5 {
  .proj-img,
  .proj-desc {
    animation: project-box-slide-in 1s forwards 1.8s;
  }
}

.project-active {
  height: 100vh;
  width: 100%;
}

.project-details {
  z-index: 500;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.project-full {
  padding: 2em;
  background: $dark-text;
  color: $primary-text-color;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  overflow-y: scroll;
  animation: fade-in 1s forwards 1s;
}

.project-info {
  display: flex;
  flex-direction: column;
}

.project-summary {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

.project-preview {
  height: 15em;
  width: 25em;
  // background: $emphasize;
}

.project-1-preview {
  background: url("../img/project-1.PNG") no-repeat center;
  background-size: cover;
}
.project-2-preview {
  background: url("../img/project-2.PNG") no-repeat center;
  background-size: cover;
}
.project-3-preview {
  background: url("../img/project-3.PNG") no-repeat center;
  background-size: cover;
}
.project-4-preview {
  background: url("../img/project-4.PNG") no-repeat center;
  background-size: cover;
}
.project-5-preview {
  background: url("../img/project-5.PNG") no-repeat center;
  background-size: cover;
}

.fade-out {
  opacity: 1;
  animation: fade-out 1s forwards !important;
}
