// section nav buttons
.section-nav-btn {
  opacity: 0;
  animation: fade-in 1s forwards 3.5s;
}
.to-skills {
  font-size: 1.75em;
  font-weight: bold;
  position: absolute;
  z-index: 9999;
  bottom: -22px;
  align-self: flex-end;
  background: $red;
  border: 2px solid $red;
  box-shadow: 5px 3px 20px 1px $dark-text;
  color: $primary-text-color;
  padding: 0.1em 0.4em;
  cursor: pointer;
  transition: 1s all ease-out;
  &:hover {
    border: 2px solid $dark-text;
    background: $dark-text;
  }
}

// button that controls navigation to the work section
.to-work {
  z-index: 9999;
  transform: rotate(-90deg);
  font-size: 0.5em;
  font-weight: bold;
  position: absolute;
  right: -255px;
  color: $emphasize;
  border: 2px solid $emphasize;
  background: none;
  padding: 0.1em 0.4em;
  cursor: pointer;
  transition: 1s all ease-out;

  &:hover {
    background: $emphasize;
    color: $dark-text;
  }
}

// form button of contact form styling
.form-btn {
  border: none;
  background: none;
  border: 2px solid $red;
  color: $primary-text-color;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: 0.5s all ease-out;
  font-size: 1em;
  &:hover {
    background: $red;
  }
  &:active {
    border: none;
  }
}

// close button for sections
.close-section {
  z-index: 175;
  font-size: 2em;
  position: fixed;
  top: 20px;
  left: 20px;
  color: $emphasize;
  cursor: pointer;
  transition: 0.5s all ease-out;
  margin: 0;
  padding: 0 0.5em;
  // before
  &::before {
    position: absolute;
    content: "";
    height: 1.1em;
    width: 1em;
    border-top: 2px solid $emphasize;
    border-left: 2px solid $emphasize;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-out all;
    &:hover {
      border: $secondary-text-color;
    }
  }
  &::after {
    position: absolute;
    content: "";
    height: 1.1em;
    width: 1em;
    border-bottom: 2px solid $emphasize;
    border-right: 2px solid $emphasize;
    top: 0;
    right: 0;
    transition: 0.5s ease-out all;
  }

  &:hover {
    color: $secondary-text-color;
    padding: 0 0.75em;
  }
}

// close project button that closes the active project that is currently selected
.close-project-btn {
  animation: fade-in 1s forwards 2s;
  opacity: 0;
  position: absolute;
  z-index: 510;
  top: 3em;
  right: 0;
  font-size: 1em;
  margin-right: 1em;
  padding: 0.25em 0.5em;
  background: $dark-text;
  color: $primary-text-color;
  border: 3px solid $primary-text-color;
  transition: 0.5s all ease-out;
  cursor: pointer;
  &:hover {
    background: $primary-text-color;
    color: $dark-text;
  }
}

//disable class
.disabled {
  pointer-events: none;
}
