// main colors
$primary-text-color: #fff;
$secondary-text-color: #d5d5d5;
$dark-text: #000;
// home
$home-bg: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
// about colors
$red: #ff0844;
$emphasize: #f9d423;
// skills
$purple: #9890e3;
$blue: #66a6ff;
