// main colors
$primary-text-color: #fff;
$secondary-text-color: #303030;
$dark-text: #000;
// backgrounds
$primary-background: #383838;
$secondary-background: #3a4750;
// about colors
$red: #d72323;
$emphasize: #f9d423;
